<div id="fadeDiv" class="transition-opacity ease-out duration-700 opacity-100 fixed bottom-4 right-4">
    <div class="col-span-3 bg-[#1a1a1a] text-[#e0e0e0] rounded-lg shadow-lg p-6">
        <h1 class="text-4xl font-semibold text-center text-[#e0e0e0] mb-6">{{.Title}}</h1>
        <p>{{ .Message }}</p>
    </div>
    <script>
        // Function to handle end of transition
        function handleTransitionEnd() {
            console.log("Transition has completed!");
            DeleteElement('fadeDiv');
        }
    
        document.addEventListener('htmx:afterSettle', () => {
            const fadeDiv = document.getElementById('fadeDiv');
            if (fadeDiv) {
                setTimeout(() => {
                    fadeDiv.classList.add('opacity-0');
                }, 6000); // Delay before starting the fade-out
    
                fadeDiv.addEventListener('transitionend', handleTransitionEnd, { once: true });
            }
        });
    </script>
</div>

