<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="..\dist\output.css">
    <title>Style Spektrum</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="bg-white text-black">
    <!-- Main Layout with Sidebar and Content -->
    <div class="flex">
    <!-- Sidebar for Styles -->
        <aside class="bg-[#1a1a1a] h-screen pr-4 overflow-auto w-1/10">
            <h2 class="text-xl text-[#e0e0e0] text-center font-semibold my-2">Your Styles</h2>
            {{if .User.FavoriteTags}}
                <ul class="bg-[#e0e0e0] text-[#1a1a1a] ">
                    {{range .User.FavoriteTags}}
                        <li class="flex items-center outline bg-[#e0e0e0] hover:bg-[#1a1a1a] hover:text-[#e0e0e0]">
                            <a href="#" class="block px-4 py-2 rounded-md">{{.Name}}</a>
                            <span class="ml-2 cursor-pointer text-[#1a1a1a] hover:text-yellow transition-all" hx-post="/favorite/{{.User.Name}}" hx-swap="outerHTML" style="font-size: 150%">
                                <span class="inline-block group-hover:hidden">★</span>
                            </span>
                        </li>
                    {{end}}
            {{else}}
                <li class="flex items-center outline bg-[#e0e0e0] text-[#1a1a1a] hover:bg-[#1a1a1a] hover:text-[#e0e0e0]">
                    <p href="#" class="block px-4 py-2 rounded-md">No Favs Styles</p>
                </li>
            {{end}}
            </ul>
            <h2 class="text-xl text-white font-semibold text-center my-2">Popular Styles</h2>
            <ul class="bg-white text-black ">
                {{range .AllTags}}
                    <li class="flex items-center outline bg-[#e0e0e0] text-[#1a1a1a]">
                        <a href="#" class="block px-4 py-2 rounded-md">{{.Name}}</a>
                        <span class="ml-2 cursor-pointer text-[#1a1a1a] hover:text-yellow transition-all" hx-post="/favorite/{{.Tag}}" hx-swap="outerHTML" style="font-size: 150%">
                            <span class="inline-block group-hover:hidden">☆</span>
                        </span>
                    </li>
                {{end}}
            </ul>
        </aside>

        <!-- Main Content Area -->
        <main class="flex-1">
            <!-- Logo as Image -->
            <div class="justify-center">
                <div class="flex justify-end bg-[#1a1a1a] space-x-4 back tp-1">
                    {{ if .JWT.Username}}
                        <a href="#" class="text-[#e0e0e0] hover:bg-[#e0e0e0] hover:text-[#1a1a1a]">Login</a>
                        <p class="text-[#e0e0e0]">/</p>
                        <a href="#" class=" text-[#e0e0e0] hover:bg-[#e0e0e0] hover:text-[#1a1a1a]">{{.JWT.Username}}</a>
                    {{ else }}
                        <a href="#" class="text-[#e0e0e0] hover:bg-[#e0e0e0] hover:text-[#1a1a1a]">LOGIN</a>
                        <p class="text-[#e0e0e0]">/</p>
                        <a href="#" class=" text-[#e0e0e0] hover:bg-[#e0e0e0] hover:text-[#1a1a1a]">SIGN UP</a>
                    {{ end }}
                </div>
                <img src="https://stylespektrumimages.s3.us-east-2.amazonaws.com/Long+Style+Spectrum+Logo+v1.png" alt="Style Spectrum Logo" class="w-full h-full">
            </div>

            <div id="MainView" class="grid grid-cols-5 gap-6">
            </div>
        </main>
    </div>

</body>
</html>